* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: rgb(118, 85, 91);
    color: rgb(118, 85, 91);
    padding: 0.5rem;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
}

h1,
h2 {
    color: rgb(164, 118, 152);
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

li:not(:last-child) {
    margin-right: 1rem;
}

a {
    color: #ffffff;
}

footer {
    background-color: rgb(118, 85, 91);
    color: white;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}

footer ul {
    display: flex;
    justify-content: center;
}

header h1 {
    margin-left: 1rem;
}
