body {
    background-color: #2d1a3d;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 80%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #3d2352;
    border-radius: 20px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.pfp {
    border: 3px solid #ca9ee6;
    border-radius: 50px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

p {
    margin: 1% 0;
}

img {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.button {
    background-color: #ca9ee6;
    color: #3d2352;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #c6a0f6;
}